In [1]:
import requests
import pandas as pd

Welcome to Alpha Vantage! Your API key is: 2XZJV1NODSI2NNNW. Please record this API key for future access to Alpha Vantage.

In [46]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=VOO&outputsize=full&apikey=2XZJV1NODSI2NNNW&'
resp = requests.get(url)
resp.json()['Meta Data']

{'1. Information': 'Daily Time Series with Splits and Dividend Events',
 '2. Symbol': 'VOO',
 '3. Last Refreshed': '2019-09-11 13:43:45',
 '4. Output Size': 'Full size',
 '5. Time Zone': 'US/Eastern'}

In [47]:
resp.json().keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [107]:
df = pd.DataFrame(resp.json()['Time Series (Daily)'])

In [108]:
pd.to_datetime(df.columns)

DatetimeIndex(['2019-09-11', '2019-09-10', '2019-09-09', '2019-09-06',
               '2019-09-05', '2019-09-04', '2019-09-03', '2019-08-30',
               '2019-08-29', '2019-08-28',
               ...
               '2010-09-22', '2010-09-21', '2010-09-20', '2010-09-17',
               '2010-09-16', '2010-09-15', '2010-09-14', '2010-09-13',
               '2010-09-10', '2010-09-09'],
              dtype='datetime64[ns]', length=2267, freq=None)

In [119]:
df.shape

(8, 2267)

In [109]:
df.index

Index(['1. open', '2. high', '3. low', '4. close', '5. adjusted close',
       '6. volume', '7. dividend amount', '8. split coefficient'],
      dtype='object')

In [115]:
df_transposed = df.transpose().set_index(df.columns)

In [118]:
df_transposed.index

Index(['2019-09-11', '2019-09-10', '2019-09-09', '2019-09-06', '2019-09-05',
       '2019-09-04', '2019-09-03', '2019-08-30', '2019-08-29', '2019-08-28',
       ...
       '2010-09-22', '2010-09-21', '2010-09-20', '2010-09-17', '2010-09-16',
       '2010-09-15', '2010-09-14', '2010-09-13', '2010-09-10', '2010-09-09'],
      dtype='object', length=2267)

In [120]:
df_transposed.shape

(2267, 8)

In [144]:
df_filtered = df_transposed.iloc[175:677]

In [136]:
a = list(df_transposed.index)

In [151]:
df_clean = df_filtered.drop(['8. split coefficient','7. dividend amount','6. volume'], axis=1)

In [152]:
df_clean

             1. open   2. high    3. low  4. close 5. adjusted close
2018-12-31  229.3100  229.9700  227.4500  229.8100          227.3423
2018-12-28  229.3200  231.0700  226.5200  227.7600          225.3143
2018-12-27  222.9600  228.1200  219.6000  228.0500          225.6012
2018-12-26  216.8800  226.1000  214.8300  225.9500          223.5237
2018-12-24  219.7400  220.8000  215.0700  215.0700          212.7606
...              ...       ...       ...       ...               ...
2017-01-09  208.3400  208.4800  207.8850  207.9500          198.0048
2017-01-06  207.9900  209.0900  207.4000  208.6100          198.6332
2017-01-05  207.7500  208.0400  207.0130  207.8000          197.8620
2017-01-04  207.2000  208.1800  207.1200  207.9600          198.0143
2017-01-03  206.6800  207.3300  205.5600  206.7400          196.8527

[502 rows x 5 columns]