In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('https://travel.trade.gov/view/m-2017-I-001/documents/Final%20COR%20Volume.xlsx')

In [7]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Volume (F)', 'Volume (F).1',
       'Volume (F).2', 'Volume (F).3', 'Volume (F).4', 'Volume (F).5',
       'Volume (R)', 'Volume (P)', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Percent Change', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Market Share', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [28]:
df_2016 = pd.read_csv('Final COR Volume/2016 COR Month-QTR Volume-Table 1.csv', header = 1)

In [17]:
df_2017 = pd.read_csv('Final COR Volume/2017 COR Month-QTR Volume -Table 1.csv', header = 1)

In [18]:
df_2018 = pd.read_csv('Final COR Volume/2018 COR Month-QTR Volume -Table 1.csv', header = 1)

In [39]:
just_nums_2016 = df_2016.iloc[:,1:18]

In [33]:
just_nums_2016 = just_nums_2016.transpose()

In [35]:
just_nums_2016 = just_nums_2016.rename(columns=just_nums_2016.iloc[0])

In [36]:
just_nums_2016.drop(just_nums_2016.index[0])

,"TOTAL INTERNATIONAL (Overseas, Mexico, and Canada)",nan,TOTAL OVERSEAS,Total Canada (Source: Stats Canada),Canada Air (Source: Stats Canada),Total Mexico (Source: Banco de Mexico),Mexico Air (Source: I-94),nan,9 Major World Regions,Western Europe,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
Jan-16,"5,614,591",NaN,"2,680,371","1,356,146","713,516","1,578,074","164,915",NaN,NaN,"745,631",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Feb-16,"4,935,260",NaN,"2,420,004","1,230,191","701,928","1,285,065","149,689",NaN,NaN,"841,723",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mar-16,"6,143,910",NaN,"2,923,031","1,797,979","844,427","1,422,900","231,943",NaN,NaN,"1,171,825",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q1-16,"16,693,761",NaN,"8,023,406","4,384,316","2,259,871","4,286,039","546,547",NaN,NaN,"2,759,179",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apr-16,"6,042,233",NaN,"2,916,710","1,608,972","751,810","1,516,551","177,500",NaN,NaN,"1,146,070",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
May-16,"6,500,006",NaN,"3,235,378","1,691,059","638,931","1,573,569","206,253",NaN,NaN,"1,164,656",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jun-16,"6,154,158",NaN,"3,315,489","1,375,143","501,197","1,463,526","208,078",NaN,NaN,"1,144,771",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q2-16,"18,696,397",NaN,"9,467,577","4,675,174","1,891,938","4,553,646","591,831",NaN,NaN,"3,455,497",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jul-16,"7,594,735",NaN,"3,966,911","2,018,513","534,403","1,609,311","291,374",NaN,NaN,"1,477,939",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aug-16,"7,895,284",NaN,"3,891,504","2,340,211","628,672","1,663,569","209,813",NaN,NaN,"1,460,435",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sep-16,"6,614,195",NaN,"3,512,358","1,636,929","554,492","1,464,908","219,698",NaN,NaN,"1,277,920",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q3-16,"22,104,214",NaN,"11,370,773","5,995,653","1,717,567","4,737,788","720,885",NaN,NaN,"4,216,294",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oct-16,"6,723,729",NaN,"3,433,693","1,557,322","638,771","1,732,714","214,448",NaN,NaN,"1,405,880",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nov-16,"5,844,020",NaN,"2,704,372","1,404,973","661,278","1,734,675","209,425",NaN,NaN,"963,161",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dec-16,"6,345,367",NaN,"3,129,583","1,270,061","640,852","1,945,723","301,538",NaN,NaN,"1,030,349",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4-16,"18,913,116",NaN,"9,267,648","4,232,356","1,940,901","5,413,112","725,411",NaN,NaN,"3,399,390",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
just_nums_2017 = df_2017.iloc[:,1:18]

In [44]:
just_nums_2017.shape

(92, 17)

In [47]:
just_nums_2017 = just_nums_2017.dropna(subset = ['I-94 Arrivals based on Country of Residence (COR)'])

In [48]:
just_nums_2017.head()

,I-94 Arrivals based on Country of Residence (COR),Jan-17,Feb-17,Mar-17,Q1-17,Apr-17,May-17,Jun-17,Q2-17,Jul-17,Aug-17,Sep-17,Q3-17,Oct-17,Nov-17,Dec-17,Q4-17
0,"TOTAL INTERNATIONAL (Overseas, Mexico, and Can...","5,767,752","4,851,902","5,793,626","16,413,280","6,700,656","6,253,889","6,076,727","19,031,272","7,603,790","8,088,032","6,465,402","22,157,224","6,631,863","6,053,633","6,654,093","19,339,589"
2,TOTAL OVERSEAS,"2,809,419","2,386,406","2,764,000","7,959,825","3,315,526","3,267,355","3,400,431","9,983,312","3,952,772","4,027,400","3,392,091","11,372,263","3,426,969","2,802,071","3,361,084","9,590,124"
3,Total Canada (Source: Stats Canada),"1,473,657","1,289,479","1,842,583","4,605,719","1,848,622","1,590,497","1,448,867","4,887,986","2,096,776","2,434,458","1,708,582","6,239,816","1,639,042","1,471,503","1,368,266","4,478,811"
4,Canada Air (Source: Stats Canada),"778,546","736,362","928,910","2,443,818","842,062","652,020","590,592","2,084,674","612,068","675,988","618,787","1,906,843","689,041","707,972","689,791","2,086,804"
5,Total Mexico (Source: Banco de Mexico),"1,484,676","1,176,017","1,187,043","3,847,736","1,536,508","1,396,037","1,227,429","4,159,974","1,554,242","1,626,174","1,364,729","4,545,145","1,565,852","1,780,059","1,924,743","5,270,654"

In [50]:
just_nums_2017 = just_nums_2017.drop(columns = ['Q1-17', 'Q2-17', 'Q3-17', 'Q4-17'])

In [51]:
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
x = just_nums_2017.columns[1:]

In [68]:
just_nums_2017.iloc[1:2,1:]

,Jan-17,Feb-17,Mar-17,Apr-17,May-17,Jun-17,Jul-17,Aug-17,Sep-17,Oct-17,Nov-17,Dec-17
2,"2,809,419","2,386,406","2,764,000","3,315,526","3,267,355","3,400,431","3,952,772","4,027,400","3,392,091","3,426,969","2,802,071","3,361,084"

In [70]:
sns.barplot(just_nums_2017)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [71]:
sns.load_dataset("car_crashes").sort_values("total", ascending=False)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
40,23.9,9.082,9.799,22.944,19.359,858.97,116.29,SC
34,23.9,5.497,10.038,23.661,20.554,688.75,109.72,ND
48,23.8,8.092,6.664,23.086,20.706,992.61,152.56,WV
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
17,21.4,4.066,4.922,16.692,16.264,872.51,137.13,KY
26,21.4,8.346,9.416,17.976,18.190,816.21,85.15,MT
18,20.5,7.175,6.765,14.965,20.090,1281.55,194.78,LA
36,19.9,6.368,5.771,18.308,18.706,881.51,178.86,OK
42,19.5,4.095,5.655,15.990,15.795,767.91,155.57,TN
43,19.4,7.760,7.372,17.654,16.878,1004.75,156.83,TX
41,19.4,6.014,6.402,19.012,16.684,669.31,96.87,SD
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
31,18.4,3.496,4.968,12.328,18.032,869.85,120.75,NM
38,18.2,9.100,5.642,17.472,16.016,905.99,153.86,PA
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
9,17.9,3.759,5.191,16.468,16.826,1160.13,144.18,FL
16,17.8,4.806,4.272,13.706,15.130,780.45,133.80,KS
24,17.6,2.640,5.456,1.760,17.600,896.07,155.77,MS
11,17.5,9.450,7.175,14.350,15.225,861.18,120.92,HI
50,17.4,7.308,5.568,14.094,15.660,791.14,122.04,WY
33,16.8,6.552,5.208,15.792,13.608,708.24,127.82,NC
7,16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE
25,16.1,6.923,5.474,14.812,13.524,790.32,144.45,MO
15,15.7,2.669,3.925,15.229,13.659,649.06,114.47,IA
10,15.6,2.964,3.900,14.820,14.508,913.15,142.80,GA
12,15.3,5.508,4.437,13.005,14.994,641.96,82.75,ID
19,15.1,5.738,4.530,13.137,12.684,661.88,96.57,ME
27,14.9,1.937,5.215,13.857,13.410,732.28,114.82,NE
28,14.7,5.439,4.704,13.965,14.553,1029.87,138.71,NV
14,14.5,3.625,4.205,13.775,13.775,710.46,108.92,IN
35,14.1,3.948,4.794,13.959,11.562,697.73,133.52,OH
22,14.1,3.384,3.948,13.395,10.857,1110.61,152.26,MI
49,13.8,4.968,4.554,5.382,11.592,670.31,106.62,WI
45,13.6,4.080,4.080,13.056,12.920,716.20,109.61,VT
5,13.6,5.032,3.808,10.744,12.920,835.50,139.91,CO
13,12.8,4.608,4.352,12.032,12.288,803.11,139.15,IL
37,12.8,4.224,3.328,8.576,11.520,804.71,104.61,OR
46,12.7,2.413,3.429,11.049,11.176,768.95,153.72,VA
20,12.5,4.250,4.000,8.875,12.375,1048.78,192.70,MD
32,12.3,3.936,3.567,10.824,9.840,1234.31,150.01,NY
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA
29,11.6,4.060,3.480,10.092,9.628,746.54,120.21,NH
44,11.3,4.859,1.808,9.944,10.848,809.38,109.48,UT
30,11.2,1.792,3.136,9.632,8.736,1301.52,159.85,NJ
39,11.1,3.774,4.218,10.212,8.769,1148.99,148.58,RI
6,10.8,4.968,3.888,9.396,8.856,1068.73,167.02,CT
47,10.6,4.452,3.498,8.692,9.116,890.03,111.62,WA
23,9.6,2.208,2.784,8.448,8.448,777.18,133.35,MN
21,8.2,1.886,2.870,7.134,6.560,1011.14,135.63,MA
8,5.9,2.006,1.593,5.900,5.900,1273.89,136.05,DC